<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.elune.sajid.myapplication">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->

    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <permission
        android:name="com.example.sajid.myapplication.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.sajid.myapplication.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!-- <meta-data -->
    <!-- android:name="com.google.android.maps.v2.API_KEY" -->
    <!-- android:value="AIzaSyB6hI6Of7oCq1FYh46pE2Qip6trvqLg0gw" /> -->
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon4"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat">
        <uses-library android:name="com.google.android.maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBilukRY9_fuoa2YBX_CUjXSCHfs9lKgsE" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_KO4O4D0L2a7urx" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="activity.Activity_main_2"
            android:label="@string/app_name"
            android:logo="@drawable/ic_1"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity"
            android:uiOptions="splitActionBarWhenNarrow" />
        <activity
            android:name="activity.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="activity.Activity_main_2"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.PatientProfileActivity"
            android:label="@string/title_activity_patient_profile"
            android:parentActivityName="activity.Activity_main_2"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="activity.Edit_patient_data"
            android:label="@string/title_activity_edit_patient_data"
            android:parentActivityName="activity.PatientProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity">
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        <activity
            android:name="activity.documents"
            android:label="@string/title_activity_documents"
            android:parentActivityName="activity.PatientProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.ClinicalNotesActivity"
            android:label="@string/title_activity_clinical_notes"
            android:parentActivityName="activity.PatientProfileActivity"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.AddClinicalNotesActivity"
            android:label="@string/title_activity_add_clinical_notes"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.TabbedActivityCheck"
            android:label="@string/title_activity_tabbed_activity_check"
            android:parentActivityName="activity.PatientProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/TabbedActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="redundant.UploadToServer"
            android:label="Upload"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.TABBED_ACTIVITY_FUNCTIONALITY"
            android:label="@string/title_activity_tabbed__activity__functionality"
            android:theme="@style/TabbedActivity">
            >
        </activity>
        <activity
            android:name="activity.History_Activity"
            android:label="@string/title_activity_history_"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.Treatment_Activity"
            android:label="@string/title_activity_treatment_"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.Other_Notes_Activity"
            android:label="Others "
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.history_view"
            android:label="@string/title_activity_history_view"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.Add_view_notes"
            android:label="@string/title_activity_add_view_notes"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.View_Media_notes_grid"
            android:label="@string/title_activity_view__media_notes_grid"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.view_notes_version"
            android:label="@string/title_activity_view_notes_version"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" />
        <activity
            android:name="activity.data_sync_activity"
            android:label="@string/title_activity_data_sync_activity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.view_all_versions"
            android:label="@string/title_activity_view_all_versions"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.CameraDemoActivity"
            android:label="Camera"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.Title_Activity"
            android:label="@string/title_activity_title_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activity.genericNotesActivity"
            android:label="@string/title_activity_generic_notes"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="activity.followUp"
            android:label="@string/title_activity_follow_up"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="activity.ViewFollowUp_Activity"
            android:label="@string/title_activity_view_follow_up_"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="activity.Appointments"
            android:label="@string/title_activity_appointments"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.appointment_settings"
            android:label="@string/title_activity_appointment_settings"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.dataRestoreActivity"
            android:label="@string/title_activity_data_restore"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.AppointmentSettingsCheck"
            android:label="@string/title_activity_appointment_settings_check"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.AccountVerificationActivity"
            android:label="@string/title_activity_account_verification"
            android:parentActivityName="activity.Activity_main_2"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.Activity_Video_Capture"
            android:label="@string/title_activity_activity__video__capture"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PaymentActivity"
            android:label="@string/title_activity_payment"
            android:screenOrientation="portrait" />
        <activity android:name="com.razorpay.CheckoutActivity" />
        <activity
            android:name="activity.patients_today"
            android:label="@string/title_activity_patients_today"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.SubscriptionActivity"
            android:label="@string/title_activity_subscription"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.paymentOptionNotAvailableActivity"
            android:label="@string/title_activity_payment_option_not_available"
            android:theme="@style/MainActivity" />
        <activity
            android:name="activity.PGSubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity android:name="activity.PrivacyAndTermsView" />
        <activity
            android:name="activity.article_view_activity"
            android:screenOrientation="portrait"
            android:theme="@style/MainActivity" />
        <activity android:name="activity.PrintDialogActivity" />
        <activity android:name="activity.CustomPrintActivity" />

        <activity android:name="activity.edit_followup"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity android:name="activity.AssociationsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.UPOA_Activity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationExecCouncilActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationEDirectoryActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationAnnouncementsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationGalleryActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationMembershipActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationContactUsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationNotificationsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationConferenceScheduleActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationConferenceHighlightsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationConferenceSubjectsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationConferenceSponsorsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name="activity.AssociationConferenceScheduleDetailsActivity"
            android:theme="@style/MainActivity"
            android:screenOrientation="portrait">
        </activity>
        <service android:name="services.TimeService"/>
    </application>

</manifest>